<html>
<head>
    <title>bibliotechnical | Programming book reviews and recommendations</title>
    <meta name="description" content="Find the perfect technical book. Curated programming book
    reviews, recommendations and reading lists."></meta>
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/smoothness/jquery-ui.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/browse.css" type="text/css" media="screen">
    <script type="text/javascript" src="javascripts/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui-1.8.9.custom.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#skill-slider').slider({
			    range: "min",
                max: 100,
                value: 20,
                disabled: true,
                });
            $('#approach-slider').slider({
			    range: "min",
			    max: 100,
                value: 85,
                disabled: true,
            });
            $('#shelf-life-slider').slider({
			    range: "min",
			    max: 100,
                value: 50,
                disabled: true,
            });
            $('#style-slider').slider({
			    range: "min",
			    max: 100,
                value: 30,
                disabled: true,
            });
        });
    </script>

</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo"><a href="/">bibliotechnical</a></div>
            <div id="navigation">
                <div class="nav-item"><a href="#">search</a></div>
                <div class="nav-item nav-active"><a href="#">browse</a></div>
                <div class="nav-item"><a href="#">lists</a></div>
            </div>
        </div>
        <div id="main">
            <div id="breadcrumb"></div>
            <div id="book-header">
                <div id="book-cover">
                    <img src="img/learning-python-cover.jpg"/>
                    <button id="buy">Order a copy</button>
                    <div id="cover-preview">or check out a <a href="#book-preview">preview</a></div>
                </div>
                <div id="book-summary">
                    <div id="book-title">
                        <h1>Learning Python</h1>
                        <span>Mark Lutz - O'Reilly - Fourth Edition (2009)</span>
                        <hr />
                    </div>
                    <div id="book-abstract">
                        Designed to be an in-depth introduction to the core Python language, 
                        <i>Learning Python</i> has the feel of a self-paced class on Python
                        fundamentals.<br/><br/> With material for both Python 2.X and 3.X, this book is 
                        a perfect introduction to the language.
                        <hr />
                    </div>
                    <div id="book-extras">
                        <div id="book-sources">
                            Also available on:
                            <br />
                            <a id="ipad-icon" href="#" title="iPad"></a>
                            <a id="kindle-icon" href="#" title="Kindle"></a>
                        </div>
                        <div id="book-tags">
                            Tagged:
                            <br />
                            <div class="tag">python</div>
                            <div class="tag">learning</div>
                        </div>
                    </div>
                </div>
                <div id="book-scores">
                    <div class="slider-title">Skill Level</div>
                    <div class="slider" id="skill-slider"></div>
                    <div class="slider-labels">
                        <div class="left-label">Beginner</div>
                        <div class="center-label">Intermediate</div>
                        <div class="right-label">Expert</div>
                    </div>
                    <div class="slider-title">Shelf Life</div>
                    <div class="slider" id="shelf-life-slider"></div>
                    <div class="slider-labels">
                        <div class="left-label">Classic</div>
                        <div class="center-label">Established</div>
                        <div class="right-label">New</div>
                    </div>
                    <div class="slider-title">Approach</div>
                    <div class="slider" id="approach-slider"></div>
                    <div class="slider-labels">
                        <div class="left-label">Theoretical</div>
                        <div class="right-label">Practical</div>
                    </div>
                    <div class="slider-title">Style</div>
                    <div class="slider" id="style-slider"></div>
                    <div class="slider-labels">
                        <div class="left-label">Reference</div>
                        <div class="center-label">Examples</div>
                        <div class="right-label">Articles</div>
                    </div>

                </div>
            </div>
 
            <div id="book-content">
                <hr />
                <div id="book-quotes">
                    <h2 class="centered-header">what readers are saying</h2>
                    <div class="topic"><h3><a href="http://news.ycombinator.com/item?id=121779">Ask YC: What is the best Python book for a beginner?</a></h3>                            <div>Learning Python is an excellent book. It is what I found most useful for learning the language. I bought and read many books, and this one is the best I found.</div>
                            <div class="user"><a href="http://news.ycombinator.com/item?id=121994">posted by mathogre</a></div>
                            <div>I started learning Python from a Mark Lutz seminar actually. He is a great teacher.</div>
                            <div class="user"><a href="http://news.ycombinator.com/item?id=121827">posted by ivankirigin</a></div>
                            <div>If you really want a beginner book, Learning Python is a great choice.
</div>
                            <div class="user"><a href="http://news.ycombinator.com/item?id=121881">posted by fireandfury</a></div></div>
                            <div class="topic"><h3><a href="http://www.reddit.com/r/Python/comments/fdmzz/looking_for_a_good_book_on_learning_python/">Looking for a good book on learning Python. Any recommendations?</a></h3>
                            <div>Lutz's book is very good, it would be my first pick.</div>
                            <div class="user"><a href="http://www.reddit.com/r/Python/comments/fdmzz/looking_for_a_good_book_on_learning_python/c1f8h5y">posted by EverybodyScram</a></div>
                            <div>I agree that [Learning Python] is a good book. It was my first Python book, too. But as others have already said, it has a lot of text and chapters. That doesn't seem to be a bad thing, especially for a beginner book. If you don't mind reading a lot of text and getting things presented step by step, go for it.</div>
                            <div class="user"><a href="http://www.reddit.com/r/Python/comments/fdmzz/looking_for_a_good_book_on_learning_python/c1fbu8s">posted by Knack_123</a></div>
                        </div>
                        <div style="clear:both"/>
                            <div class="topic"><h3><a href="http://stackoverflow.com/questions/457757/what-is-the-best-python-book-for-experienced-programmers">What is the best Python book for experienced programmers?</a></h3>                            <div>Unexpectedly, I found myself more frequently using Learning Python, even though it seems much more like it's "aimed at the novice programmer"; something I was not, really. I just noticed I found the basic syntax stuff and examples I needed faster in that book.</div>
                            <div class="user"><a href="http://stackoverflow.com/questions/457757/what-is-the-best-python-book-for-experienced-programmers/459714#459714">posted by Jonik</a></div>
</div>
                </div>
                <div id="book-preview">
                    <hr />
                    <h2 class="centered-header">take a look inside</h2>
                    <div id="embedded-preview">
<script type="text/javascript" src="http://books.google.com/books/previewlib.js"></script>
<script type="text/javascript">
GBS_insertEmbeddedViewer('ISBN:0596158068',700,780);
</script>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">footer</div>
    </div>
</body>
</html>
