<html>
<head>
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/browse.css" type="text/css" media="screen">
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo">logo</div>
            <div id="navigation">nav</div>
        </div>
        <div id="main">
            <div id="breadcrumb">breadcrumb</div>
            <div id="book-header">
                <div id="book-cover">
                    <img src="img/learning-python-cover.jpg"/>
                    <a>buy</a>
                </div>
                <div id="book-summary">
                    <div id="book-title">
                        <h1>Learning Python</h1>
                        <span>Mark Lutz - O'Reilly - Fourth Edition (2009)</span>
                    </div>
                    <div id="book-abstract">
                        Designed to be an in-depth introduction to the core Python language, 
                        <i>Programming Python</i> has the feel of a self-paced class on Python
                        fundamentals. With material for both Python 2.X and 3.X, this book is 
                        a perfect introduction to the language.
                    </div>
                    <div id="book-extras">
                        <div id="book-sources">
                            Available on:
                            <br />
                            iPad, Kindle, Print
                        </div>
                        <div id="book-tags">
                            Tagged:
                            <br />
                            python, learning
                        </div>
                    </div>
                </div>
                <div id="book-scores">scores</div>
            </div>
            <div id="book-content">
                <div id="book-quotes">
                    <h2>what people are saying</h2>
                </div>
                <div id="book-preview">
                    <h2>take a look inside</h2>
                    <div id="embedded-preview">
<script type="text/javascript" src="http://books.google.com/books/previewlib.js"></script>
<script type="text/javascript">
GBS_insertEmbeddedViewer('ISBN:0596158068',380,480);
</script>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">footer</div>
    </div>
</body>
</html>
