<% content_for :main do %>
  <div style="height:500px; font-size:30px; text-align:center;">
    <h2 style="margin-top:200px; margin-bottom:20px;">
      Sorry! This page doesn't exist or isn't ready yet.
    </h2>
    <h3 style="font-size:22px;">Blame the Dewey Decimal System...</h3>
  </div>
<% end %>
