<html>
    <head>
        <title>bibliotechnical</title>
        <script type="text/javascript" src="/javascripts/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-ui-1.8.9.custom.min.js">
        </script>
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
        <script type="text/javascript">
            $(document).ready(function(){
              $("#sign_up").click(function(e){
                var that = $(this);
                e.preventDefault();

                if ( $('.entry').val().length < 1 ){
                  $('#form_div').effect('shake', { times: 4, distance: 3}, 40);
                  return;
                }

                $.ajax({
                  type: 'post',
                  url: '/subscribe',
                  data: $('#subscribe').serialize(),
                  datatype: 'json',
                  success: function(data){
                    $('.entry').val('');
                    $("<div class='thanks'>Thanks! We'll update you through " + 
                      data.type + ".</div>")
                      .hide()
                      .appendTo('#container')
                      .slideDown('fast');

                    $('.sign_up').attr('disabled', true);
                    that.unbind();
                  },
                  error: function(data){
                    $("<div class='yikes'>Yikes! Something messed up, try again.</div>")
                      .hide()
                      .appendTo('#container')
                      .slideDown('fast');
                  },
                });
              });
            });
        </script>

<script type="text/javascript">
  var _kmq = _kmq || [];
  function _kms(u){
    setTimeout(function(){
      var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
      s.src = u; f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/637c148a8f06aefefcb0501bf79e7e75f79ac923.1.js');
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13005539-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
    <body>
        <center id="container">
            <h1>bibliotechnical</h1>
            <div class="box">
                <h2>Find the perfect technical book.</h2>
                <h4>
                    Picking your next book is hard. Most sites are the same:<br />
                    Endless pages of book results.<br />
                    &#9733;&#9733;&#9733;&#9733; ratings that don't mean anything.<br />
                    Lack of human curation.<br />
                    <br />
                    You don't care which book has sold the most copies, <br/> just 
                    which book will be the best resource for YOU.
                    <br />                  
                </h4>
                <h3>Enter your email or Twitter and we'll send you updates.</h3>
            <div id="form_div">
            <form id="subscribe" novalidate>
                <input class="entry" type="email" name="contact" />
                <button id="sign_up">Sign up</button>
            </form>
            </div>
            </div>
        </center>
    </body>
</html>
