<html>
    <head><title>alexandria</title></head>
    <body>
        <h1>hello</h1>
        <form novalidate method="POST" action="/subscribe">
            <input type="email" name="contact" placeholder="enter your email">
            <input type="submit" value="subscribe">
        </form>
    </body>
</html>
