<html>
<head>
    <title>bibliotechnical | Programming book reviews and recommendations</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/smoothness/jquery-ui.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/browse.css" type="text/css" media="screen">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <% yield_content :head %>
<script type="text/javascript">
  var _kmq = _kmq || [];
  function _kms(u){
    setTimeout(function(){
      var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
      s.src = u; f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/637c148a8f06aefefcb0501bf79e7e75f79ac923.1.js');
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13005539-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo"><a href="/">bibliotechnical</a></div>
            <div id="navigation">
                <div class="nav-item"><a href="/search">search</a></div>
                <div class="nav-item nav-active"><a href="/browse">browse</a></div>
                <div class="nav-item"><a href="/lists">lists</a></div>
            </div>
        </div>
        <div id="main">
            <% yield_content :main %>
        </div>
    </div>
    <div id="footer">
        <div id="footer-contact">
            Did we get something horribly wrong? Have suggestions? 
            Drop us a line at <a href="mailto:devs@bibliotechnical.com">devs@bibliotechnical.com</a>
        </div>
    </div>
</body>
</html>

