<% content_for :main do %>
    <div style="height:500px; font-size:30px; text-align:center;">
        <form>
            <% @book.attributes.each do |attr| %>
                <% if attr.respond_to? :embeddable? and attr.embeddable?: %>
                    <h1>doc</h1>
                <% end %>
                <p><label><%= attr %></label><input name="title"></p>
            <% end %>
        </form>
    </div>
<% end %>
